.about{
    padding: 0;
    background: #f6f6f6;
}
.about-text{

    padding: 50px 0;
    font-family: 'Open Sans', serif;
    text-rendering: optimizeLegibility !important;
    color: #777;
    font-weight: 400;
    margin-left: 80px;
}

.section-title h2{
    font-weight: 400;
    font-size: 38px;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
}

h2::after{
    position: absolute;
    content: "";
    background: #d43031;
    height: 2px;
    width: 70px;
    margin-top: 60px;
    margin-left: -150px;
}

.about-img{
    background-size: cover;
    height: 570px;
}

p{
    line-height: 24px;
    margin: 35px 0 40px;
}
