.footer {
    margin-top: 40px;
    background: #262626;
    padding: 40px 0 20px 0;
width: 100%;

}

p {
    color: darkgrey;

}

.social {
    margin-top: -5px;
    text-align: right;

}

ul {

    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.social ul li {

    display: inline-block;
    margin: 0 15px;


}