.book  {
    margin: 0 5rem;
    text-align: center;
}
@media (min-width: 1200px) {
    .Container{
        background-color: #777777;
        color: #262626;

    }
}
@media (max-height: 700px) {
    .Container{

        background-color: #777777;
        color: #262626;
    }
}
.signing{

    margin-top: 100px;

}
