figcaption {
    position: absolute;
    bottom: 20rem;
    margin: 0 5rem;
    color: white;
    font-family: 'Rochester', cursive;
    font-size: 5em;
}

.book  {
position: absolute;
    bottom: 15rem;
    margin: 0 5rem;
}
.signing{

    margin-top: -320px;
}