figcaption {
    position: absolute;
    bottom: 30rem;
    margin: 0 5rem;
    color: white;
    font-family: 'Rochester', cursive;
    font-size: 5em;
}

.book  {
position: absolute;

    margin: 0 5rem;
}
.signing{

    margin-top: -520px;
    margin-left: -900px;
}