

.col-md-5{
    background: #003580;
    margin-top: 50px;
}

.btn-primary{

    margin-bottom: 20px;
}

h2{
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    color: darkgrey;
}

form{

    margin-top: 100px;
}
.Container{

    width: 100px;

}
.signIN{
    margin-top: 1px;
}
.col-md-5 Button{
    background: black;
    border: #777777;
    align-content: center;

}
.col-md-5 h2{
    color: #777777;
}