.btn-primary{

    margin-bottom: 20px;
}


.login-form{
    width: 100%;
    max-width: 330px;
    height: 100%;
    color: black;
    background-color: #333333;
    padding-top: 100px;
    padding-left: 30px;
    padding-right: 30px;

}

h2{
    margin-bottom: 20px;
    margin-top: 50px;
    font-family: 'Nunito', sans-serif;
    color: darkgrey;
}

.col-md-5 Button{
    background: black;
    border: #777777;
    align-content: center;

}
.col-md-5 h2{
    color: #777777;
}

