.staff{
    padding: 120px 0;
    font-family: 'Open Sans', serif;
    text-rendering: optimizeLegibility !important;
    color: #777;
    font-weight: 400;
}
.team-img{
    display: inline-block;
    position: relative;
    max-width: 550px;
}
.staff h2::after{

    position: absolute;
    content: "";
    background: #d43031;
    height: 2px;
    width: 70px;
    margin-top: 60px;
    margin-left: -150px;
}