.staff{
    padding: 120px 0;
    font-family: 'Open Sans', serif;
    text-rendering: optimizeLegibility !important;
    color: #777;
    font-weight: 400;
}
.team-img{
    display: inline-block;
    position: relative;
    max-width: 550px;
}